@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

$primary-font: "Chakra Petch", sans-serif;

$primary-gray: #a4a4a4;
$secondary-gray: #424242;
$tertiary-gray: #7f7f7f;
$white: #f2f2f2;
