.lightMode {
  background-color: $yellowMid;
}

.darkMode {
  background-color: $tertiary-gray;
}

.noDisplay {
  display: none;
}

.Display {
  display: unset;
}

.yellowButton {
  background-color: $yellowLight;
  color: $secondary-gray;
  box-shadow: 0 3px 10px $yellowDark;
}
