.navbar {
  display: grid;
  grid-template-columns: 35vw 50vw 10vw;
  align-items: center;

  &__calculator {
    grid-column-start: 2;
    font-size: 28px;
  }

  &__lightdark {
    #dark {
      width: 50px;
      grid-column-start: 3;
    }
    #light {
      width: 50px;
      grid-column-start: 3;
    }
    background-color: transparent;
    width: 53px;
    height: 50px;
    border: none;
  }
  margin-top: 2vh;
  margin-bottom: 2vh;
}

