.screen {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: $white;
  width: 90vw;
  max-width: 500px;
  height: 27vh;
  margin: 5vw;
  border-radius: 5%/10%;
  border: 0px;
  outline: none;
  font-size: 32px;
  text-align: right;

  &__sum,
  &__output {
    margin-top: 1rem;
    margin-right: 1rem;
    max-width: 80vw;
  }
}

main{
  display: flex;
  justify-content: center;
  max-height: 380px;
}

@media screen and (min-height: 1024px) {
  main{
    max-height: 500px;
  }}