@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
.keypad {
  display: grid;
  grid-template-areas: "clear divide multiply delete" "seven eight nine minus" "four five six plus" "one two three equals" "zero dot triple equals";
  margin: 3vw;
  margin-top: 3vh;
  justify-content: center;
}
.keypad #clear {
  grid-area: clear;
}
.keypad #divide {
  grid-area: divide;
}
.keypad #multiply {
  grid-area: multiply;
}
.keypad #delete {
  grid-area: delete;
}
.keypad #minus {
  grid-area: minus;
}
.keypad #plus {
  grid-area: plus;
}
.keypad #equals {
  grid-area: equals;
}
.keypad #nine {
  grid-area: nine;
}
.keypad #eight {
  grid-area: eight;
}
.keypad #seven {
  grid-area: seven;
}
.keypad #six {
  grid-area: six;
}
.keypad #five {
  grid-area: five;
}
.keypad #four {
  grid-area: four;
}
.keypad #three {
  grid-area: three;
}
.keypad #two {
  grid-area: two;
}
.keypad #one {
  grid-area: one;
}
.keypad #zero {
  grid-area: zero;
}
.keypad #triple {
  grid-area: triple;
}
.keypad #dot {
  grid-area: dot;
}

.keypad__buttons {
  font-size: 31px;
  background-color: #a4a4a4;
  color: #f2f2f2;
  border: none;
  padding: 5px;
  margin: 5px;
  height: 75px;
  width: 75px;
  box-shadow: 0 3px 10px #424242;
  border-radius: 50%;
}
.keypad__buttons:active {
  box-shadow: 0 0 2px #424242;
  transform: translateY(2px);
  transition: all 0.2s;
}

#equals {
  height: 160px;
  width: 70px;
  border-radius: 75%/25%;
}

.navbar {
  display: grid;
  grid-template-columns: 125px 220px 80px;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
.navbar__calculator {
  grid-column-start: 2;
  font-size: 28px;
  margin-left: 30px;
}
.navbar__lightdark {
  background-color: transparent;
  width: 53px;
  height: 50px;
  border: none;
}
.navbar__lightdark #dark {
  width: 50px;
  grid-column-start: 3;
}
.navbar__lightdark #light {
  width: 50px;
  grid-column-start: 3;
}

.lightMode {
  background-color: #fdd237;
}

.darkMode {
  background-color: #7f7f7f;
}

.noDisplay {
  display: none;
}

.Display {
  display: unset;
}

.yellowButton {
  background-color: #ffdb58;
  color: #424242;
  box-shadow: 0 3px 10px #ffbf00;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: #f2f2f2;
  width: 90vw;
  max-width: 500px;
  height: 27vh;
  margin: 5vw;
  border-radius: 5%/10%;
  border: 0px;
  outline: none;
  font-size: 32px;
  text-align: right;
}
.screen__sum, .screen__output {
  margin-top: 1rem;
  margin-right: 1rem;
  max-width: 80vw;
}

main {
  display: flex;
  justify-content: center;
  max-height: 380px;
}

@media screen and (min-height: 1024px) {
  main {
    max-height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .borderParent {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  .border {
    border: 2px solid black;
    border-radius: 20%/10%;
    width: 550px;
    height: 97vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
* {
  font-family: "Chakra Petch", sans-serif;
  padding: 0px;
  margin: 0px;
}

a,
ul,
li {
  all: unset;
}/*# sourceMappingURL=main.css.map */